NEON_DB_URL=postgresql://neondb_owner:npg_NBsFA1xmZu3k@ep-holy-night-aiu9zz1m-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
NEON_API_KEY=napi_k08f05szkjiiflhywu1pm40wxs63cef043qnsixdof1bz521hikjeoqy6v0m15qx
DB_POOL_SIZE=10
DB_POOL_OVERFLOW=20
LOG_LEVEL=INFO